h2 {
  justify-content: center;
  text-align: center;
  margin-block-end: 0;
}

.mat-dialog-content {
  overflow-y: hidden !important;
  justify-content: center;
  text-align: center;
}

.stg {
  align-items: flex-end;
}


 