

  <button mat-button class="close-icon" [mat-dialog-close]="true">
    x
  </button>
  <h2 mat-dialog-title>Sign Up </h2>
  <mat-dialog-content>
  <mat-card class="box">

    <form class="example-form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="email" required>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" required>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Firstname" type="text" required>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Lastname" type="text" required>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Date of Birth" type="date" required>
        </mat-form-field>

      </mat-card-content>

      <mat-dialog-actions>
        <button mat-stroked-button color="accent" class="btn-block" type="submit">Register</button>
      </mat-dialog-actions>

    </form>
  </mat-card>
</mat-dialog-content>


