<div class="d-flex justify-content-end">
  <button mat-button class="close-icon" [mat-dialog-close]="true">
    x
  </button>
  </div>

  <mat-dialog-content>
    <h2 mat-dialog-title>Sign Up </h2>
  <mat-card class="box">

    <form class="example-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput
          placeholder="Email"
          type="email"
          formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput
          placeholder="Firstname"
          type="text"
          formControlName="firstName">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput
          placeholder="Lastname"
          type="text"
          formControlName="lastName">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput
          placeholder="Date of Birth"
          type="date"
          formControlName="birthdate">
        </mat-form-field>

        <div class="d-flex justify-conent-center" style="color: rgb(236, 64, 122);">
          <span class="span">{{errorMessage}}</span>
        </div>
      </mat-card-content>

      <mat-dialog-actions>
        <button mat-stroked-button color="accent" class="btn-block" type="submit"
        >Register</button>
      </mat-dialog-actions>

      <mat-spinner *ngIf="showSpinner" class="spinner" [diameter]="50"></mat-spinner>
    </form>
  </mat-card>
  {{error}}
</mat-dialog-content>


