
<div class="body">
  

<div class="box">

  <h1>Sign In</h1>


  <div>
    Email: <input type="text" class="email" name="email" [(ngModel)] = "userLoginData.username">
    Password: <input type="password" class="password" name="password" [(ngModel)] = "userLoginData.password">

    <button mat-raised-button (click)=handleLogin() class="btn">Sign In</button>
    <button  mat-raised-button routerLink="/register" class="btn">Sign Up</button>
  </div>
</div>
<mat-spinner *ngIf="showSpinner" class="spinner" [diameter]="50"></mat-spinner>
</div>