
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
  <table mdbTable class="table">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Symbol</th>
        <th>Amount</th>
        <th>BuyingTime</th>
        <th>SellingTime</th>
        <th>Buying Price Per Stock</th>
        <th>Selling Price Per Stock</th>
        <th>Buying Price</th>
        <th>Selling Price</th>
        <th>Price Difference</th>
        <th>Price Difference Per Stock</th>
        <th>Open</th>
        <th>Sell</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let portfolioData of portfolioDataOpen">
      <td scope="row">{{portfolioData.id}}</td>
      <td>{{portfolioData.stockSymbol}}</td>
      <td>{{portfolioData.amount}}</td>
      <td>{{portfolioData.buyingTime}}</td>
      <td>{{portfolioData.sellingTime}}</td>
      <td>{{portfolioData.buyingPricePerStock / 100}}</td>
      <td>{{portfolioData.sellingPricePerStock / 100}}</td>
      <td>{{portfolioData.buyingPrice / 100}}</td>
      <td>{{portfolioData.sellingPrice / 100}}</td>
      <td>{{portfolioData.priceDifference / 100}}</td>
      <td>{{portfolioData.priceDifferencePerStock / 100}}</td>
      <td>{{portfolioData.open}}</td>
      <td>
        <button mat-fab color="primary"><i class="fa fa-usd" aria-hidden="true"></i></button>
      </td>
    </tr>
  </tbody>
  </table>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <table mdbTable class="table">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Symbol</th>
            <th>Amount</th>
            <th>BuyingTime</th>
            <th>SellingTime</th>
            <th>Buying Price Per Stock</th>
            <th>Selling Price Per Stock</th>
            <th>Buying Price</th>
            <th>Selling Price</th>
            <th>Price Difference</th>
            <th>Price Difference Per Stock</th>
            <th>Open</th>
            <th>Sell</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let portfolioData of portfolioDataClose">
          <td scope="row">{{portfolioData.id}}</td>
          <td>{{portfolioData.stockSymbol}}</td>
          <td>{{portfolioData.amount}}</td>
          <td>{{portfolioData.buyingTime}}</td>
          <td>{{portfolioData.sellingTime}}</td>
          <td>{{portfolioData.buyingPricePerStock / 100}}</td>
          <td>{{portfolioData.sellingPricePerStock / 100}}</td>
          <td>{{portfolioData.buyingPrice / 100}}</td>
          <td>{{portfolioData.sellingPrice / 100}}</td>
          <td [ngStyle]="{'color': portfolioData.priceDifference < 0 ? 'red' : 'green'}">{{portfolioData.priceDifference / 100}}</td>
          <td [ngStyle]="{color: portfolioData.priceDifferencePerStock < 0 ? 'red' :
          portfolioData.priceDifferencePerStock > 0 ? 'green' : 'black'}">{{portfolioData.priceDifferencePerStock / 100}}</td>
          <td >{{portfolioData.open}}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>