table {
  text-align: center !important
}

.thead-dark {
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

th, td {
  text-align: center;
  vertical-align: middle;
}

.row{
  height:50vh;
}

.container{
  height: 100vh ;
}