table {
  text-align: center !important
}

.thead-dark {
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

th, td {
  text-align: center;
  vertical-align: middle;
}

.row{
  height:50vh;
  margin-right: 0px;
}

.container{
  height: 100vh ;
}

p {
  margin-top: 1rem;
  margin-bottom: 0rem;
  justify-content: center;
  text-align: center;
}