
<div class="container-fluid">
  <div class="row justify-content-center" >
    <div class="col-10" id="up">
      <div class="w-100 justify-content-center" style="color:black; padding: 0 auto"><p><strong>
        Open Transactions</strong></p></div>
  <table mdbTable class="table">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Symbol</th>
        <th>Amount</th>
        <th>BuyingTime</th>
        <th>SellingTime</th>
        <th title="Buying Price Per Stock">BPPS</th>
        <th title="Selling Price Per Stock">SPPS</th>
        <th>Buying Price</th>
        <th>Selling Price</th>
        <th title="Price Difference Per Stock">Price Difference</th>
        <th>PDPS</th>
        <th>Open</th>
        <th>Sell</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let portfolioData of portfolioDataOpen; let i = index">
      <td scope="row">{{portfolioData.id}}</td>
      <td>{{portfolioData.stockSymbol}}</td>
      <td>{{portfolioData.amount}}</td>
      <td>{{portfolioData.buyingTime}}</td>
      <td>{{portfolioData.sellingTime}}</td>
      <td>{{portfolioData.buyingPricePerStock / 100}}</td>
      <td>{{portfolioData.sellingPricePerStock / 100}}</td>
      <td>{{portfolioData.buyingPrice / 100}}</td>
      <td>{{portfolioData.sellingPrice / 100}}</td>
      <td [ngStyle]="{'color': portfolioData.priceDifference < 0 ? 'red' : portfolioData.priceDifference > 0 ? 'green' : 'black'}">{{portfolioData.priceDifference / 100}}</td>
      <td [ngStyle]="{'color': portfolioData.priceDifferencePerStock < 0 ? 'red' : portfolioData.priceDifferencePerStock > 0 ? 'green' : 'black'}">{{portfolioData.priceDifferencePerStock / 100}}</td>
      <td>{{portfolioData.open}}</td>
      <td>
        <button mat-fab color="primary" (click)=sellStock(i)><i class="fa fa-usd" aria-hidden="true"></i></button>
      </td>
    </tr>
  </tbody>
  </table>
    </div>
  <div class="row justify-content-center">
    </div>
    <div class="col-10" id="bottom">
      <div class="w-100" style="color:black"><p><strong>Closed Transactions</strong></p></div>
      <table mdbTable class="table">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Symbol</th>
            <th>Amount</th>
            <th>BuyingTime</th>
            <th>SellingTime</th>
            <th title="Buying Price Per Stock">BPPS</th>
            <th title="Selling Price Per Stock">SPPS</th>
            <th>Buying Price</th>
            <th>Selling Price</th>
            <th>Price Difference</th>
            <th title="Price Difference Per Stock">Price Difference</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let portfolioData of portfolioDataClose">
          <td scope="row">{{portfolioData.id}}</td>
          <td>{{portfolioData.stockSymbol}}</td>
          <td>{{portfolioData.amount}}</td>
          <td>{{portfolioData.buyingTime}}</td>
          <td>{{portfolioData.sellingTime}}</td>
          <td>{{portfolioData.buyingPricePerStock / 100}}</td>
          <td>{{portfolioData.sellingPricePerStock / 100}}</td>
          <td>{{portfolioData.buyingPrice / 100}}</td>
          <td>{{portfolioData.sellingPrice / 100}}</td>
          <td [ngStyle]="{'color': portfolioData.priceDifference < 0 ? 'red' : portfolioData.priceDifference > 0 ? 'green' : 'black'}">{{portfolioData.priceDifference / 100}}</td>
          <td [ngStyle]="{'color': portfolioData.priceDifferencePerStock < 0 ? 'red' : portfolioData.priceDifferencePerStock > 0 ? 'green' : 'black'}">{{portfolioData.priceDifferencePerStock / 100}}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>