<div class="container-fluid">
  <div class="row" justify-content-center align-items-center>
    <div class="col-6">
      <canvas id="tsla-graph">{{lineChartTSLA}}</canvas> 
    </div>
    <div class="col-6">
      <canvas id="msft-graph">{{lineChartMSFT}}</canvas> 
    </div>
  </div>
  <div class="row" justify-content-center align-items-center>
    <div class="col-6">
      <canvas id="aapl-graph">{{lineChartAAPL}}</canvas> 
    </div>
    <div class="col-6">
      <canvas id="googl-graph">{{lineChartGOOGL}}</canvas> 
    </div>
  </div>
  <div class="row" justify-content-center align-items-center>
    <div class="col-6">
      <canvas id="amzn-graph">{{lineChartAMZN}}</canvas> 
    </div>
    <div class="col-6">
      <canvas id="fb-graph">{{lineChartFB}}</canvas> 
    </div>
  </div>
</div> 
