<div class="container-fluid">
  <div class="row" justify-content-center align-items-center>
    <div class="col-6">
      <canvas id="canvas1">{{lineChartTSLA}}</canvas> 
    </div>
    <div class="col-6">
      <canvas id="canvas2">{{lineChartMSFT}}</canvas> 
    </div>
  </div>
  <div class="row" justify-content-center align-items-center>
    <div class="col-6">
      <canvas id="canvas3">{{lineChartAAPL}}</canvas> 
    </div>
    <div class="col-6">
      <canvas id="canvas4">{{lineChartGOOGL}}</canvas> 
    </div>
  </div>
  <div class="row" justify-content-center align-items-center>
    <div class="col-6">
      <canvas id="canvas5">{{lineChartAMZN}}</canvas> 
    </div>
    <div class="col-6">
      <canvas id="canvas6">{{lineChartFB}}</canvas> 
    </div>
  </div>
</div> 
