<div class="container">
  <div class="row">
    <p 	class="mat-h1"><strong>{{companyName}}</strong></p>
  </div>
  <div class="row">
    <p 	class="mat-h2"><u>Information:</u> {{longDescription}}</p>
  </div>
  <div class="row">
    <p 	class="mat-h2"><u>Industry:</u> {{industry}}</p>
  </div>
  <div class="row">
    <p 	class="mat-h2"><u>Sector:</u> {{sector}}</p>
  </div>
  <div class="row">
    <p 	class="mat-h2"><u>Website:</u> <a [href]="website" target="_blank"> {{website}}</a></p>
  </div>
  <div class="row">
    <p 	class="mat-h2"><u>CEO:</u> {{ceo}}</p>
  </div>
  <div class="row">
    <p 	class="mat-h2"><u>Employees:</u> {{employees}}</p>
  </div>
</div>
